@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #f2f2f2;
  margin: 0px;
  font-family: tahoma;
  color: #282828;
}

.wrapper {
  max-width: 500px;
  width: 100%;
  background: #fff;
  margin: 20px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
  padding: 30px;
}

.wrapper .inputfield {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  width: 100%;
}

.wrapper .inputfield label {
  width: 200px;
  color: #757575;
  margin-right: 10px;
  font-size: 14px;
}

.wrapper .inputfield .input,
.wrapper .inputfield .textarea {
  width: 100%;
  outline: none;
  border: 1px solid #d5dbd9;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.wrapper .inputfield .textarea {
  width: 100%;
  height: 125px;
  resize: none;
}


.wrapper .inputfield .input:focus,
.wrapper .inputfield .textarea:focus {
  border: 1px solid #005688;
}

.wrapper .inputfield .btn {
  width: 100%;
  padding: 8px 10px;
  font-size: 15px;
  border: 0px;
  background: #003e62;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
}

.wrapper .inputfield .btn:hover {
  background: #005688;
}

.wrapper .inputfield:last-child {
  margin-bottom: 0;
}

.logo {
  position: absolute;
  margin-top: 5px;
}

.nav-bar {
  background: linear-gradient(-90deg, #001521, #00273E);
  width: 100%;
  height: 80px;
  overflow: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#output table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  table-layout: fixed;
}

#output th,
#output td {
  border: 1px solid #ddd;
  padding: 8px;
}

#output tr:hover {
  background-color: #ddd;
}

#output th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #006eae;
  color: white;
}